<div class='container mt-5'>
  <div class='row'>
    <div class='mx-auto'>
      <div class="card-body text-dark" style="border: solid;">
        <%= image_tag @post.user.get_profile_image, size: "40x40" %>
        <%= @post.user.name %>
        <%= @post.user.account_id %><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %><br>
        <div class="card_text text-center">
          <%= @post.body %><br>
          <% if @post.image.present? %>
            <div><%= image_tag @post.post_image(300,500) %></div>
          <% end %>
        </div>
        <table class="table">
          <tr>
            <td id="comments-counter">
              <%= render "public/comments/counter", post: @post %>
            </td>
            <td>
              <%= link_to "Back", admin_root_path, class:"btn btn-info" %>
            </td>
            <td>
              <%= link_to "Delete", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
            </td>
          </tr>
        </table>
        <div id="comments-index">
          <%= render "public/comments/index", post: @post %>
        </div>
        <!--%= render "public/comments/form", post: @post, comment: @comment %-->
      </div>
    </div>
  </div>
</div>
