<% notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
    <div class="col-md-12 mx-auto notification-container">
    <div class="notification-box d-flex align-items-center">
      <div class="notification-icon">
        <%= link_to user_path(visitor), data: { turbolinks: false } do %>
          <%= image_tag(visitor.get_profile_image, size: '40x40', class: 'rounded-circle mr-3') %>
        <% end %>
      </div>

      <!--通知の種類に応じて表示内容を切り替え-->
      <!--フォロー通知-->
      <% if notification.action == 'follow' %>
        <%= link_to user_path(visitor) do %>
          <strong><%= visitor.name %></strong>さんがあなたをフォローしました
        <% end %>

      <!--投稿がいいねされた通知-->
      <% elsif notification.action == 'favorite_post' %>
        <%= link_to post_path(notification.post) do %>
          <strong><%= visitor.name %></strong>さんが<strong><%= truncate(notification.post.body, length: 10) %></strong>の投稿にいいねしました
        <% end %>

      <!--コメントが投稿された通知-->
      <% elsif notification.action == 'comment' %>
        <!--自分自身の投稿へのコメントの場合-->
        <% if notification.post.user_id == visited.id %>
          <%= link_to post_path(notification.post) do %>
            <strong><%= visitor.name %></strong>さんが<strong><%= truncate(notification.post.body, length: 10) %></strong>の投稿にコメントしました
            <% comment = Comment.find_by(id: notification.comment_id) %>
            <div class="notification-comment">
              <%= truncate(comment&.comment, length: 30) %>
            </div>
          <% end %>
        <!--投稿者が異なり自身がコメントした投稿にほかのユーザーがコメントした場合-->
        <% else %>
          <span>
            <%= link_to post_path(notification.post) do %>
              <strong><%= visitor.name %></strong>さんが<strong><%= notification.post.user.name + 'さんの投稿' %></strong>にコメントしました
              <% comment = Comment.find_by(id: notification.comment_id) %>
              <div class="notification-comment">
                <%= truncate(comment&.comment, length: 30) %>
              </div>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class= "small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
  </div>
<% end %>