<div class='container mt-5'>
	<div class='row'>
  	<div class='mx-auto'>
  		<h1 class="col text-center">＼＼User Information／／</h1>
  		<%= render "layouts/error", obj: @user %>

  		<%= form_with model: @user do |f| %>
  		  <% if user_signed_in? && @user.id == current_user.id %>
  		  <table class="table table-borderless text-center">
  		    <tr>
  		      <th><%= f.label :account_id, "ユーザー名" %></th>
  		      <td><%= f.text_field :account_id %></td>
  		    </tr>
  		    <tr>
  		      <th><%= f.label :email %></th>
  		      <td><%= f.text_field :email %></td>
  		    </tr>
  		    <tr>
  		      <th><%= f.label :phone_number %></th>
  		      <td><%= f.text_field :phone_number %></td>
  		    </tr>
  		    <tr>
            <td>
              <% unless current_user.guest? %>
                <%= link_to "Good Bye", users_hide_user_path(current_user), method: :delete, "data-confirm" => "本当に退会しますか？？", class: "btn btn-outline-dark" %>
              <% end %>
            </td>
            <td>
              <%= link_to "Back", users_mypage_path, class:"btn btn-outline-warning" %>
            </td>
		        <td><%= f.submit "Save", class: "btn btn-outline-danger" %></td>
          </tr>
        </table>
        <% end %>
  		<% end %>
    </div>
  </div>
</div>
