<div class='container mt-5'>
	<div class='row'>
  	<div class='mx-auto'>
      <h4 class="col text-center">＼＼Follower／／</h4>
      <% @users.each do |user| %>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
          <div class="card-body text-dark mt-3">
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_profile_image, size: "40x40" %>
              <%= user.name %>
            <% end %>
            <%= user.account_id %><br>
            <%= user.introduction %><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
