<header>
  <% if user_signed_in? %> %>
    <li>
      <%= link_to homes_about_path do %>
      <i class="fa-solid fa-house-chimney"></i>
      <% end %>
    </li>
    <li>
      <%= link_to users_mypage_path do %>
      <i class="fa-regular fa-circle-user"></i>
      <% end %>
    </li>
    <li>
      <!--%= link_to "Post", new_post_path %-->
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to root_path do %>
      <i class="fa-solid fa-house-chimney"></i>
      <% end %>
    </li>
    <li>
      <%= link_to new_user_session_path do %>
      <i class="fa-solid fa-right-to-bracket"></i>
      <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path do %>
      <i class="fa-solid fa-plus"></i>
      <% end %>
    </li>
  <% end %>
</header>