<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #bb0000;">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li>
              <%= link_to admin_root_path do %>POST
                <i class="fa-solid fa-dove"></i>
              <% end %>
            </li>
            <li>
              <%=link_to admin_root_path do %>
                <i class="fa-solid fa-envelopes-bulk"></i>
              <% end %>
            </li>
            <li>
              <%= link_to admin_users_path do %>
                <i class="fa-solid fa-people-robbery"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </li>
          <% elsif user_signed_in? %>
            <li>
              <div class="font" style="text-align: left;">
                <%= link_to homes_about_path do %>POST
                  <i class="fa-solid fa-dove"></i>
                <% end %>
              </div>
            </li>
            <li>
              <%= link_to homes_about_path do %>
                <i class="fa-solid fa-house-chimney"></i>
              <% end %>
            </li>
            <li>
              <%= link_to users_mypage_path(current_user.id) do %>
                <i class="fa-regular fa-circle-user"></i>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(genre: "shine") do %>
                <i class="fa-solid fa-sun"></i>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path(genre: "dark") do %>
                <i class="fa-regular fa-moon"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user.id) do %>
                <i class="fa-solid fa-gear"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path, class:"text-left" do %>POST
                <i class="fa-solid fa-dove"></i>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa-solid fa-house-chimney"></i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket"></i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa-solid fa-plus"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>